# Personal folders and files
Display_LCD16x2_LL
Display_LCD16x2_HAL
_Pending

# Operating System folders and files
desktop.ini

# Proteus folders and files
Project Backups
*.workspace
*.BMP

# MDK-ARM folders and files
DebugConfig
RTE
*.Home
*.uvoptx
*.axf
*.htm
*.asm
*.lnp
*.map
*.sct
*.d
*.o
*.dep
*.scvd
*.lst
*.Bak
JLinkLog.txt
JLinkSettings.ini

# STM32CubeMX
.mxproject
_Drivers








