# Operating System folders and files
desktop.ini

# Personal folders and files
_Pending

# Proteus folders and files
Project Backups
*.workspace
*.BMP

# MDK-ARM folders and files
DebugConfig
RTE
*.Home
*.uvoptx
*.axf
*.htm
*.asm
*.lnp
*.map
*.sct
*.d
*.o
*.dep
*.scvd
*.lst
JLinkLog.txt
JLinkSettings.ini

# STM32CubeMX
.mxproject
_Drivers








